.testimonials {

	.section-inner {
		padding-top: 0;
	}

    .section-title {
        margin-bottom: 48px;
    }
}

.testimonials-wrap {
    display: flex;
    flex-wrap: wrap;
	align-items: flex-start; /* Disable equal height */
    justify-content: center;
    margin-right: -12px;
    margin-left: -12px;

    &:first-child {
        margin-top: -12px;
    }

    &:last-child {
        margin-bottom: -12px;
    }
}

.testimonial {
    padding: 12px;
    width: 344px;
    max-width: 344px;
    flex-grow: 1;
}

#testimonialImage {
    padding: 12px;
    width: 344px;
    max-width: 500px;
    flex-grow: 1;
}

.testimonial-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: color(bg, 1);
    padding: 32px 24px;
    //height: 100%;

    > * {
        width: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include shadow;
        mix-blend-mode: multiply;
    }
}


.testimonial-header {

	img {
		width: 56px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		@include shadow-sm;
	}
}

.testimonial-body {

	p {
		margin-bottom: 12px;
	}
}

.testimonial-footer {
    align-self: flex-end;
}

.testimonial-name {
	@include font-weight(semibold);
	color: color(typography, 1);
}

.testimonial-footer {
	margin-bottom: 20px;
}

@include media( '>medium' ) {

	.testimonials {

	    .section-title {
	        margin-bottom: 64px;
	    }
	}

	.testimonial {
		width: 304px;
		max-width: 304px;
	}

}

@include media( '>large' ) {

	.testimonials {
		position: relative;

		.section-title {
			margin-bottom: 80px;
		}
	}

	.testimonial {
		&:first-child {
			position: relative;
		}
	}
}
